*~
*.pyc
TODO
bin
lib
dist
eggs
parts
build
include
downloads
src_eggs
develop-eggs
.installed.cfg
cmsplugin_zinnia.egg-info
node_modules
django-apps-src
demo_cmsplugin_zinnia/demo.db*
demo_cmsplugin_zinnia/static/css/.sass-cache
