[buildout]
extends                 = versions.cfg
versions                = versions
parts                   = demo
                          flake8
                          evolution
develop                 = .
show-picked-versions    = true
eggs                    = django
                          django-cms
                          django-blog-zinnia
                          djangocms-text-ckeditor
                          Pillow

[demo]
recipe                  = djangorecipe
project                 = demo_cmsplugin_zinnia
settings                = settings
eggs                    = ${buildout:eggs}

[flake8]
recipe                  = zc.recipe.egg
eggs                    = flake8

[evolution]
recipe                  = zc.recipe.egg
eggs                    = buildout-versions-checker
scripts                 = check-buildout-updates=evolve
arguments               = '-w --sorting alpha'
