include README.rst
include LICENSE.txt
include buildout.cfg
include versions.cfg
include bootstrap.py
recursive-include demo_cmsplugin_zinnia *
recursive-include cmsplugin_zinnia/locale *
recursive-include cmsplugin_zinnia/static *
recursive-include cmsplugin_zinnia/templates *.txt *.html *.xml *.js
prune cmsplugin_zinnia/static/cmsplugin_zinnia/css/.sass-cache
exclude demo_cmsplugin_zinnia/demo.db*