{% extends "zinnia/skeleton.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block meta-description %}{% page_attribute "meta_description" %}{% endblock %}

{% block meta-keywords %}{% page_attribute "meta_keywords" %}{% endblock %}

{% block body-class %}cms{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  {% show_breadcrumb %}
</ul>
{% endblock %}

{% block content %}
  {% placeholder "content" or %}
  <h1>Welcome !</h1>
  <p>Now let's start <a href="?edit">adding some plugins</a> !</p>
  {% endplaceholder %}
{% endblock %}

{% block sidebar %}
  {% placeholder "sidebar" inherit or %}
  <h3>Sidebar</h3>
  <p>You can also put plugins here.</p>
  <p>Note, this placeholder is inherited.</p>
  {% endplaceholder %}
{% endblock %}
