{% extends "zinnia/skeleton.html" %}
{% load i18n cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block meta-description %}{% page_attribute "meta_description" %}{% endblock %}

{% block body-class %}cms{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  {% show_breadcrumb %}
</ul>
{% endblock %}

{% block content %}
  <h1>{% render_model request.current_page "titles" %}</h1>

  {% placeholder "content" or %}
  <h1>{% trans "Welcome!" %}</h1>
  <p>{% blocktrans %}Now let's start <a href="?edit">adding some plugins</a>!{% endblocktrans %}</p>
  {% endplaceholder %}
{% endblock %}

{% block sidebar %}
  {% placeholder "sidebar" inherit or %}
  <h3>{% trans "Sidebar" %}</h3>
  <p>{% trans "You can also put plugins here." %}</p>
  <p>{% trans "Note, this placeholder is inherited." %}</p>
  {% endplaceholder %}
{% endblock %}
