// This partials exists for ensuring compatibility
// with the Django-CMS.

#cms_toolbar {
  input {
    background-color: white;
  }
  label {
    font-weight: normal;
    display: inline;
  }
  li {
    list-style: none;
  }
}
